body {
    background-image: url('https://caribbeanislands.com/images/saint-vicent-the-grenadines.jpg');
}

h1 {
    font-size: 64px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
    color: white;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar button {
    color: white;
    background-color: darkslategrey;
    border-radius: 5px;
}

#siteNav {
    align-content: center;
}

#searchArea {
    background-color: white;
    border-radius: 50px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px; 
}

.pageContents {
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 50%;
}

#aboutUsText {
    width: 75%;
}

#team {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#teamCardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teamCard {
    background-color: rgba(00,00,00,0.3);
    margin: 10px;
    padding:10px;
}

.teamCard button {
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

#contactContent {
    display: flex;
    flex-direction: row;
}

#contactForm {
    display: block;
}

#contactForm button {
    width: 100%;
    background-color: teal;
}

#searchResults {
    border-radius: 10px;
}
/* 
#resultArea {

} */

#resultArea img {
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
}

.result-content {
    background-color: white;
    padding: 10px;
    width:400px;
    margin-top: 0px;
}